use nix
export COUCH_HOST="http://127.0.0.1"
export COUCH_PORT=5984
export COUCH_USER="admin"
export COUCH_PASS="password"
#export COUCH_PASS="password"

export COUCH_TARGETDB="targets"
export STAR_DATASET="fediverse"
export COUCH_DATABASE="debug-inserts"
